.git/*
.idea/*
!/vendor/freestyledork/*
/vendor/bin/*
/vendor/chrismou/*
/vendor/composer/*
/vendor/evenement/*
/vendor/monolog/*
/vendor/phergie/*
/vendor/psr/*
/vendor/react/*
/log/*
/credentials.json
/composer.lock
/vendor/autoload.php
/vendor/freestyledork/phergie-irc-plugin-react-callbacktest/src/Plugin.php
/vendor/freestyledork/phergie-irc-plugin-react-authentication/src/Plugin.php
